<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
</head>
<body style="font-family: sans-serif;color:#fff;background-color: #181818;text-align:center;">
<div style="margin-top:60px;">
    <img src="https://spiritz.app/error_handling/icSplashLogo.png" width="160px">
</div>

<div class="section" style="display: block;text-align: center;margin-top:60px;">
    Click this to verify your email:
    <br>
    <a href="{{link}}">
        <div style="display: inline-block;width: 143px;height: 50px;background-color: #fff;border-radius: 3px;color: #000;font-weight: 700;font-size: 20px;line-height: 50px;margin-top: 20px;">
            Verify
        </div>
    </a>
</div>

<div class="section code" style="display: block;text-align: center;margin-top: 40px;color:#fff;">
    Or copy and paste this code:
    <br>
    <b>{{code}}</b>
</div>
</body>
</html>
